* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f0f2f5;

}

/* Navbar */

nav {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid silver;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.1);
  z-index: 1000;
  background-color: white;
}

/* Left Nav */

.nav-left {
  height: 100%;
  width: 20%;
  display: flex;
  gap: 4px;
}

.fb-icon {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.fb-search {
  display: flex;
  align-items: center;
}

.fb-search input {
  height: 40px;
  width: 250px;
  border: none;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 16px;
}

.nav-left .fb-icon {
  cursor: pointer;
}

/* Center Nav */

.nav-center {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.nav-center div {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center div:hover {
  background-color: #f0f2f5;
  border-radius: 10px;
  cursor: pointer;
}

.home-1 {
  color: #0766ff;
}


/* Right Nav */

.nav-right {
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  margin-right: 16px;
}

.nav-right div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e6ea;
  border-radius: 50%;
}

.nav-right div:hover {
  background-color: #d1d7e0;
  border-radius: 50%;

}

.profile-4 img {
  border-radius: 50%;
}

/* Body */

section {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: space-evenly;

}

.m-page {
  width: 100%;
  margin-top: 56px;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #f0f2f5;
}

/* Left Screen */

.spaceholder-left {
  width: 360px;
}

.screen-left {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
  z-index: 5;
  position: fixed;
  left: 0px;
  background-color: #f0f2f5;
}

[class^="user"] {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 8px;
  margin-top: 12px;
  gap: 8px;
}

.user-1 img {
  border-radius: 50%;
}

.user-memories-3 svg {
  margin-left: 6px;
  margin-right: 4px;
}

.user-saved-4 svg {
  margin-left: 4px;
}

.user-groups-5 svg {
  margin-left: 4px;
}

.user-video-6 svg {
  margin-left: 4px;
}

.user-ads-7 {
  gap: 4px;
}


.screen-left > div:hover {
  background-color: #e4e6ea;
  border-radius: 10px;
  width: 100%;
  padding: 0px 8px;
  cursor: pointer;
}

/* Mid Screen */

.screen-mid {
  width: 680px;
  height: 100%;
  /* overflow-y: scroll; */

.mid-comments {
  width: 670px;
  height: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  gap: 2px;
}

.mid-comments-bar {
  width: 650px;
  height: 60px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-left: 12px;
  gap: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e4e6ea;
}

.mid-logo {
  margin-left: 4px;
}

.mid-logo img {
  border-radius: 50%;
}

.mid-logo img:hover {
  cursor: pointer;
}

.mid-input button {
  width: 600px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f0f2f5;
  font-size: 16px;
  font-weight: 300;
  color: #65676b;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px;
}

.mid-input button:hover {
  background-color: #e4e6ea;
  cursor: pointer;
}

.mid-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

.mid-media div {
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #65676b;
}

.mid-media div:hover {
  cursor: pointer;
  background-color: #f0f2f5;
  border-radius: 10px;
}

.mid-feed1 {
  width: 670px;
  height: 131vh;
  background-color: white;
  margin-top: 12px;
  border-radius: 10px;
  border: 0.5px solid #e4e6ea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.feed-logo {
  border: 0.5px solid silver;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 2px;
  margin: 20px 16px;
}

.feed-logo img {
  border-radius: 50%;
}

.feed-logo:hover {
  cursor: pointer;
}

.feed-namedate {
  height: 100%;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}

.feed-name {
  font-size: 15px;
  font-weight: 600;
}

.feed-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feed-date {
  font-size: 13px;
  font-weight: 200;
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-evenly;
}

.feed-date:hover {
  cursor: pointer;
}

.feed-dot {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-dot:hover {
  background-color: #e4e6ea;
  border-radius: 50%;
  cursor: pointer;
}

.feed-comments {
  height: 160px;
  width: 100%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.feed-com-dot {
  display: flex;
  gap: 4px;
  padding-bottom: 8px;
}

.see-more {
  font-weight: 700;
}

.see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feed-pic {
  margin-top: 8px;
}

.feed-pic:hover {
  cursor: pointer;
}

.feed-pic-footer {
  height: 70px;
  width: 100%;
  background-color: #f0f2f5;
}

.feed-footer-banner {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: #dddfe2;
  border-left-width: 0.5px;
  border-left-style: solid;
  border-left-color: #dddfe2;
  border-right-width: 0.5px;
  border-right-style: solid;
  border-right-color: #dddfe2;
}

.footer-nametag {
  font-size: 17px;
  font-weight: 600;
  height: 40px;
}

.footer-button button {
  width: 150px;
  height: 36px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #e4e6ea;
}

.footer-button button:hover {
  cursor: pointer;
  background-color: #d1d7e0;
}

.feed-like {
  height: 100px;
  width: 100%;
  
}

.feed-likebar {
  height: 45px;
  width: 100%;
}

.feed-likebar-left {
  height: 45px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  left: 16px;
  font-size: 15px;
  color: #65676b;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e4e6ea;

}

.bar-bar {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  right: 24px;
}

.reactlike {
  position: relative;
  left: 8px;
  bottom: 1px;
}

.bar-amount {
  position: relative;
  bottom: 2px;
  left: 4px;
}

.bar-amount:hover, .bar-comments:hover, .bar-shares:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feed-lcs {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.feed-lcs div {
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.feed-lcs div:hover {
  cursor: pointer;
  background-color: #f0f2f5;
  border-radius: 10px;

}



/* Right Screen */

}
.spaceholder-right {
  width: 360px;
}

.screen-right {
  width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  position: fixed;
  right: 0;
  background-color: #f0f2f5;
}

.screen-right > div {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 8px 0px;
  margin-top: 8px;
  margin-left: 8px;
}

.pgs-n-profiles {
  height: 48px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #65676b; 
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: 1px;
}

.pgs-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pgs-dot {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pgs-dot:hover {
  background-color: #e4e6ea;
  border-radius: 50%;
  cursor: pointer;
}

.bds {
  width: 100%;
  display: flex;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: 1px;

}

.bd-text {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #65676b; 
}

[class^="bi"] {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  padding-left: 8px;

}

[class^="bi"]:hover {
    background-color: #e4e6ea;
    border-radius: 10px;
    width: 350px;
    cursor: pointer;
}

.contacts {
  width: 80%;
  
}

.c-text {
  font-size: 18px;
  font-weight: 500;
  color: #65676b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-mag {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.c-mag div {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-mag div:hover {
  background-color: #e4e6ea;
  border-radius: 50%;
  cursor: pointer;
}

.user-1:hover {
  background-color: #e4e6ea;
  border-radius: 10px;
  width: 350px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .screen-right {
  float: right;
  width: 15%;
  }
  .screen-left {
  float: left;
  width: 15%;
  }
  .screen-mid {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .nav-center {
    display: none;
  }
}

@media (max-width: 750px) {
  .nav-right {
    display: none;
  }
}

@media (max-width: 650px) {
  .screen-left {
    display: none;
  }
}